.todolist {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0;
  flex-wrap: wrap;
}

.button {
  margin-top: 10px;
  flex-wrap: wrap;
}